/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import-normalize;

* {
  padding: 0px;
  margin: 0px;
}

body {
  overflow-x: hidden;
}
#root {
  background-image: none;
  background-position: top left;
  background-repeat: repeat;
  background-size: auto;
  min-height: 100%;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*#left-nav{
   position: relative;
   top:100px;
    width: 164px;
    flex-shrink: 0;
    z-index: 1000;
    box-shadow: 0 0 0 rgba(12,13,14,0.05);
    transition: box-shadow ease-in-out .1s,transform ease-in-out .1s;
}*/

#root #main-page header #nav {
  position: fixed;
  top: 0 !important;
  width: 100%;
  height: 47px;
  border-top: 3px solid #f48024;
  border-bottom: 3px solid #e0e0e0;
  align-items: center;
  background-color: #fafafb;
  top: 0;
  left: 0px;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 4px;
}

.header-link {
  height: 30px;
  width: 150px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  clear: both;
  text-decoration: none;
}
.header-link #icon,
.header-link #icon #logo-text {
  display: inline-flex;
}

.header-link #icon #logo-text {
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", Verdana, sans-serif;
  flex-wrap: nowrap;
  margin-left: -5px;
  padding-top: 9px;
}

#nav span #logo-text #ans {
  font-weight: bolder;
  color: black;
}

#nav span #logo-text #get {
  font-weight: lighter;
  color: lightsalmon;
}

@media (max-width: 65em) {
  .header-link #icon #logo-text,
  #main #side-bar,
  #main-page #search-page #side-bar {
    display: none;
  }
}

@media (max-width: 15em) {
  #home-footer #items ul {
    display: none;
  }
}
@media (max-width: 90em) {
  #search-page #left-nav {
    display: none;
  }
}

@media (max-width: 70em) {
  #main #left-nav {
    display: none;
  }
}
#qindex-main #main {
  /* padding-left: 200px; */
  justify-content: space-around;
}

#search-bar {
  display: flex;
  align-items: center;
  height: 28px;
  width: 450px;
  border-radius: 5px;
  border: 1px solid #bbc0c4;
  position: relative;
  top: 5px;
}

#search-text input[type="text"] {
  border: whitesmoke;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  height: 25px;
  width: 250%;
  /* padding-top: 10px; */
  left: 2px;
  position: relative;
  color: black;
}

#search-icon {
  position: relative;
  top: 3px;
  left: 2px;
  bottom: 1px;
}

#search-icon img {
  color: #bac0c4;
  display: block;
  flex-shrink: 0;
  max-width: 25px;
  max-height: 20px;
  width: auto;
  height: auto;
}

.button {
  display: flex;
  position: relative;
  top: 3px;
  /* font-size:15px; */
}

.button2 {
  background-color: darkgrey;
  color: rgb(47, 94, 223);
  padding: 8px 15px;
  text-align: center;
  cursor: pointer;
  margin: 2px 2px;
  border-radius: 4px;
  font-size: 13px;
}

.button1,
#q-detail #main #content #button2,
#q-index #button,
#q-detail #main #content #aform #a-box #post-a,
#q-detail #main #content nav a {
  background-color: rgb(87, 126, 231);
  color: #fff;
  padding: 8px 10px;
  text-align: center;
  cursor: pointer;
  margin: 2px 2px;
  border-radius: 4px;
  flex-wrap: nowrap;
  font-size: 13px;
}
#q-detail #main #content ul {
  min-width: 750px;
  border: none;
  box-sizing: border-box;
}
#q-detail #main #content ul li {
  border-top: 1px solid #d6dadc;
  max-width: 700px;
}
#q-detail #main #content #title-ask {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding-top: 15px;
  /* min-width:900px; */
}

#main-page #q-detail #main #content ul {
  border: none;
  list-style-type: none;
}

#q-detail #main #content #title-ask h2 {
  flex-wrap: row;
  flex-shrink: 2;
  font-size: 11;
  line-break: strict;
  /* max-width:700px; */
}
/* #q-detail #main #content #title-ask a{
   display: inline;
} */

#q-detail #main #content #answers {
  border-top: 1px solid #d6d9dc;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
  list-style-type: none;
  text-decoration: none;
  border-style: none;
}

#q-detail #main #content li {
  box-shadow: none;
  border: none;
  border-style: none;
}

#q-detail #main #content #answers .quill .ql-container,
#q-detail #main #content .quill .ql-container {
  border-style: none;
  font-size: 20px;
}
#q-detail #main #content #answers .quill .ql-container .ql-editor {
  /* border-top: 1px solid #d6dadc; */
  position: relative;
  right: 50px;
}
#q-detail #main #content #answers #owner {
  color: #0178cd;
  position: relative;
  right: 50px;
  border-bottom: 1px solid #d6dadc;
}
#q-detail #main #content .quill .ql-container p {
  font-size: 15px;
  font-family: Arial;
  height: auto;
  position: relative;
  left: 10px;
}

#aform .quill {
  border-style: solid;
  border-color: #cfd2d5;
  /* box-sizing: inherit; */
}

#q-detail #main content #tags {
  list-style-type: none;
  justify-content: flex-start;
}

#q-detail #main #content a {
  /* qdetail  Edit button*/
  background-color: rgb(87, 126, 231);
  color: #fff;
  padding: 8px 15px;
  text-align: center;
  cursor: pointer;
  margin: 2px 2px;
  border-radius: 4px;
  list-style-type: none;
  text-decoration: none;
  font-size: 13px;
}

.button1:hover,
.button2:hover {
  background-color: grey;
  color: white;
}

.header-button {
  background-color: rgb(87, 126, 231);
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin: 10px 10px;
  padding: 10px 10px;
  border-radius: 4px;
}
#home-page {
  /* max-width: 1264px;
    width: 100%;
 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto; */

  justify-content: center;
  width: auto;
  height: auto;
  min-height: 750px;
  padding: 0;
  margin: 0 auto;
  right: 0;
  left: 0;
}

#home-page #bg {
  height: 550px;
  width: 100%;
  background-color: #021d4b;
  background-image: url("connecting-bg.png");
  background-size: 1200px 550px;
  background-repeat: no-repeat;
  background-position: center;
  /* image-resolution: crisp-edges; */
  /* justify-content: stretch; */
  clip-path: polygon(0% 0, 100% 0, 100% 92%, 0% 100%);
  /* clip-path: (0% 5%, 100% 0%, 100% 55%, 75% 75%); */
}

#home-page #text {
  display: block;
  margin: auto;
  max-width: 1264px;
  min-height: 650px;
  width: 100%;
  padding-top: 70px;
  /* padding: 10px 40px 10px 40px; */
  text-align: end;
}

#home-page #divider {
  margin: 0 auto;
  background: #f2720c;
  display: block;
  width: 80px;
  height: 6px;
}
#home-page #text span {
  margin: 0 auto;
  display: block;
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
}

#home-page #text h2 {
  text-align: center;
}

#main-page main #tag-page{
  min-height: 701px;
}
#main-page #tag-page footer #home-footer {
  position: relative;
  top: 200px;
}

#main-page #user-page footer #home-footer {
  position: relative;
  top: 400px;
}
#home-footer,
#q-detail #home-footer,
#qcreate footer #home-footer,
#main-page #home-footer {
  margin: 0 auto;
  /* margin-top: 50px; */
  height: 232px;
  padding: 32px 12px 12px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #232728;
  color: whitesmoke;
  clear: both;
  position: relative;
  /* vertical-align: baseline; */
  bottom: 0;
}
#home-footer #items {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  padding-left: 50px;
  color: #bac0c4;
}

#home-footer #items ul {
  justify-content: space-around;
  padding-left: 100px;
}

#home-footer #items ul li {
  padding-top: 5px;
  list-style: none;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

#home-footer #items #links {
  padding-left: 30px;
  word-wrap: normal;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  list-style-type: none;
  justify-content: space-between;
}

#home-footer #items #links #social {
  display: inline-flex;
}

#home-footer #items #links a {
  color: lightgray;
  list-style: none;
  margin-left: 9px;
  text-decoration: none;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}
#home-footer #copy-rights {
  width: 100%;
  max-width: 300px;
  padding-left: 15px;
  text-align: left;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* position: relative;
   padding-right: 8%; */
  /* flex-shrink: 1; */
}

.login-form,
.demo-form {
  /* position: fixed;   */
  display: flex;
  /* padding: 24px 24px; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #efeff1;
  /* height: 800%; */
  /* min-height: 750px; */
  min-height: 800px;
  width: inherit;
  margin: 0 auto;
}

.login-form .login-box {
  border-radius: 2%;
  padding: 30px 10px 20px 25px;
  font-family: "Times New Roman", Times, serif;
  height: 320px;
  width: 300px;
  background-color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0 20px 48px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.login-form .login-box .login-input {
  -webkit-appearance: none;
  font-size: 17px;
  padding: 0.6em 0.7em;
  margin: 0;
  border: 1px solid black;
  width: 85%;
  height: 100%;
  align-content: center;
  display: flex;
  align-items: space-around;
  border-radius: 5px;
  margin-left: 2px;
  font-family: "Helvetica Neue", "Times New Roman", Times, serif;
}

#login-footer {
  position: relative;
  top: 30px;
  padding-left: 50px;
}

.login-box label {
  font-display: inherit;
  font-size: 17px;
  align-content: center;
  font-weight: bolder;
  padding-left: 4px;
  margin-bottom: 10px;
}

.login-box label #forgot-pwd {
  display: flex;
  float: right;
  padding-right: 19px;
  font-weight: normal;
  font-size: 14px;
  color: #0076cb;
}

.login-box input[type="submit"] {
  width: 94%;
  height: 680%;
  padding: 10px 10px;
  margin-left: 6px;
  background-color: rgb(63, 162, 223);
  color: white;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.login-form #img {
  position: fixed;
  top: 16%;
  left: 49%;
}

.login-form #err-list {
  color: red;
}

.session-form {
  position: relative;
  top: 50px;
  height: 770px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #efeff1;
  padding: 24px 24px;
}

.session-form span {
  position: fixed;
  top: 30%;
  left: 10%;
  right: 50%;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  text-justify: auto;
  width: 400px;
}

@media (max-width: 55em) {
  .session-form span {
    display: none;
  }
}

.session-form span li {
  list-style: none;
  line-height: 40px;
  font-size: 17px;
}

.session-form span #signup-footer {
  font-size: 14px;
  margin-top: 7px;
  color: rgb(159, 178, 189);
}
.session-form span #highlight-text {
  color: rgb(72, 118, 233);
}

.session-form .signup-box {
  /* border: 1px solid black;  */
  position: fixed !important;
  top: 20%;
  left: 50%;
  right: 70%;
  border-radius: 2%;
  padding: 20px 10px 20px 10px;
  font-family: "Times New Roman", Times, serif;
  height: 540px;
  width: 316px;
  background-color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0 20px 48px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.session-form #footer {
  font-size: 15px;
  text-align: justify;
  padding: 0px 20px 0px 20px;
  font-family: "Times New Roman", Times, serif;
}

.session-form #footer p {
  padding-top: 60px;
  font-size: 13px;
  text-align: center;
}
.session-form p {
  font-size: 13px;
  padding-left: 16px;
  color: #6a727c;
}

.session-form #err-list {
  color: red;
  position: fixed;
  top: 10%;
  left: 52%;
}
#checkbox1 {
  white-space: nowrap;
  display: inline-flex;
  float: left;
  padding-left: 10px;
  padding-bottom: 12px;
}
#checkbox1 label {
  margin-left: -100px;
  font-weight: normal;
  font-size: 15px;
  text-align: inherit;
}

.signup-box input {
  -webkit-appearance: none;
  font-size: 17px;
  padding: 0.6em 0.7em;
  margin: 0;
  border: 1px solid black;
  width: 85%;
  height: 106%;
  align-content: center;
  border-radius: 5px;
  margin-left: 2px;
  font-family: "Helvetica Neue", "Times New Roman", Times, serif;
}
.signup-box #checkbox1 input {
  width: 0.5%;
  height: 0.5%;
  border: 0.5px solid black;
  background-color: white;
  cursor: pointer;
}

.signup-box .session-submit {
  height: 10%;
  width: 90%;
  margin-left: 15px;
  background-color: rgb(63, 162, 223);
  color: white;
  font-size: 13px;
  cursor: pointer;
}
.signup-box label {
  font-display: inherit;
  font-size: 17px;
  align-content: center;
  font-weight: bolder;
  padding-left: 19px;
}
.signup-box #checkbox1 label {
  /* font-display: inherit; */
  font-size: 13px;
  margin-left: -12px;
  padding-top: 2px;
  white-space: normal;
  word-wrap: break-word;
}

.input-fields {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.demo-form .demo-box {
  border-radius: 2%;
  padding: 10px 10px 20px 10px;
  font-family: "Times New Roman", Times, serif;
  height: 220px;
  width: 300px;
  background-color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0 20px 48px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.demo-box label {
  font-display: inherit;
  font-size: 17px;
  align-content: center;
  font-weight: bolder;
  padding-left: 3px;
  margin-bottom: 10px;
}

.demo-form .demo-box .demo-input {
  -webkit-appearance: none;
  font-size: 17px;
  padding: 0.6em 0.7em;
  margin: 0;
  border: 1px solid black;
  width: 85%;
  height: 100%;
  align-content: center;
  display: flex;
  align-items: space-around;
  border-radius: 5px;
  margin-left: 2px;
  font-family: "Helvetica Neue", "Times New Roman", Times, serif;
}

.demo-box input[type="submit"] {
  width: 94%;
  height: 680%;
  padding: 10px 10px;
  margin-left: 6px;
  background-color: rgb(63, 162, 223);
  color: white;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}

/* Q Index Page*/
/* #main, */
#q-detail #main,
#root #main-page #search-page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  line-height: 2.2;
  padding-top: 55px;
  width: auto;
  height: auto;
  max-width: 77.2307692rem !important;
  min-width: 75rem;
  margin: 0 auto;
}
#main,#root #main-page main #tag-page #main{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  line-height: 2.2;
  padding-top: 55px;
  width: auto;
  height: auto;
  max-width: 77.2307692rem !important;
  min-width: 75rem;
  margin: 0 auto;
}

#root #main-page #search-page #left-nav {
  position: fixed;
  left: 200px;
  border: none;
}

#main-bar h2 {
  text-align: left;
  border-top: 1px solid #d6dadc;
  padding-top: 60px;
  padding-left: 20px;
}
#qcreate {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#tag-page #main #tags,
#user-page #main #user-details {
  /* min-width: 700px;
  min-height: 700px; */
  position: relative;
  top: 40px;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
  padding: 10px;
  /* flex-direction: column; */
  /* background-color: blue; */
}

#user-page #main #user-details {
  position: relative;
  top: 40px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 20px;
}

#main #q-index {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: blue; */
  /* min-width:950px; */
  /* width: calc(100% - 438px); */
  /* max-width:1050px; */
  /* box-sizing: border-box; */
}
#root #main-page #search-page {
  /* background-color: red; */
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 950px;
  width: calc(100% - 438px);
  /* box-sizing: border-box; */
  min-height: 750px;
  padding-top: 0;
  margin: 0 auto;
}

#root #main-page #search-page #search-results{
  position: relative;
  /* background-color: green; */
  min-width: 800px;
  left:20px;
}

/* #main-page #search-page ul{
   border-left: 1px solid #d6d9dc;
} */

#main #q-index #main-bar,
#q-detail #main #content {
  border-left: 1px solid #d6d9dc;
  max-width: 705px;
  flex-direction: row;
  position: relative;
  right: 35px;
  background-color: white;
  /* min-height: 1000px; */
  height: auto;
}
#q-detail #main #content {
  padding-left: 50px;
}

#main-page #search-page #search-results #page-item #tags {
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.quill-editor {
  background-color: blue;
}

#main #side-bar,
#main-page #search-page #side-bar {
  min-width: 159px;
  max-width: 400px;
  position: relative;
  top: 25px;
}

#side-bar #blog,
#side-bar #ques {
  background-color: #fdf7e3;
  border-color: #f1e5bd;
  border-style: solid;
  height: 250px;
  border-radius: 4px;
  box-sizing: inherit;
  color: #798084;
}

#side-bar #blog li,
#side-bar #ques li {
  color: #117ece;
}

#q-index #askq {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}

/* #search-page ul h3 {
  padding-left: 70px;
} */
#main #q-index ul {
  /* justify-content: flex-start; */
  /* position: relative;
   left: 40%; */
  text-decoration: none;
  flex-wrap: row;
  list-style-type: none;
  vertical-align: middle;
  border-top: 1px solid #d6d9dc;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #0063bd;

  /* flex-shrink: 0; */
  /* overflow: hidden;    */
  /* max-width:650px; */
}
#main #q-index li,
#root #main-page #search-page li {
  padding-left: 50px;
  word-wrap: break-word;
  color: #308cd4;
  font-size: 16px;
  font-family: Arial;
}

#main #q-index a {
  list-style: none;
  text-decoration: none;
}
#main-bar #askq {
  font-size: 24px;
  font-family: Arial;
  line-height: 1.3;
  margin: 0 0 1em;
}
#q-index #tags {
  display: flex;
  flex-direction: row;
  color: green;
  justify-content: flex-start;
  padding-left: 50px;
  border: 0;
  margin: 0;
  /* width:19%; */
}

#q-detail #tags {
  display: flex;
  flex-direction: row;
  color: green;
  justify-content: flex-start;
  border: 0;
  margin: 0;
  /* width:19%; */
}

#q-index #tags li {
  padding-left: 5px;
}
#qform {
  /* padding-top: 100px; */
  position: relative;
  top: 50px;
  /* left:300px; */
  /* left:15%; */
  min-height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #eff0f1;

  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  /* margin-left: 200px; */
  /* padding: 24px 24px; */
}

#qform #q-box {
  border-radius: 2%;
  padding: 20px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Times New Roman", Times, serif;
  min-height: 540px;
  height: auto;
  width: 686px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(60, 65, 70, 0.2);
}

#qform #q-box #question-fields {
  -webkit-appearance: none;
  font-size: 17px;
  padding: 0.6em 0.7em;
  margin: 0;
  border: 1px solid black;
  width: auto;
  height: auto;
  min-height: 100%;
  min-width: 95%;
  align-content: center;
  display: flex;
  align-items: space-around;
  border-radius: 5px;
  margin-left: 2px;
  font-family: "Helvetica Neue", "Times New Roman", Times, serif;
}

#qform #q-box label {
  font-display: inherit;
  font-size: 17px;
  align-content: center;
  font-weight: bolder;
  padding-left: 3px;
  margin-bottom: 10px;
}

/* #qform #q-box label #react-quill{
   white-space: pre-line;
   background-color: green;
} */

#qform #q-box label p {
  font-weight: normal;
}

textarea {
  max-height: 700px;
  min-height: 38px;
  min-width: 103px;
  width: auto;
  resize: "none";
  padding: 9px;
  box-sizing: "border-box";
  font-size: 15px;
  resize: vertical;
}

#post-q {
  background-color: darkgrey;
  color: rgb(47, 94, 223);
  padding: 10px 8px;
  text-align: center;
  cursor: pointer;
  margin: 2px 2px;
  border-radius: 4px;
  font-size: 13px Arial;
  width: 20%;
}

#root #main-page main #tag-page #main #tags div{
  width: fit-content;
  background-color: #cedfed;
  color: #32658a;
  padding: 3px 5px;
  text-align: center;
  cursor: pointer;
  margin: 6px 2px;
  border-radius: 4px;
  font-size: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#q-index #tags #button,
#q-detail #tags li,
#search-results li #tags #button {
  width: fit-content;
  background-color: #cedfed;
  color: #32658a;
  padding: 3px 5px;
  text-align: center;
  cursor: pointer;
  margin: 6px 2px;
  border-radius: 4px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
#search-results a {
  text-decoration: none;
  color: #318cd4;
}
/* #search-page #left-nav {
  position: relative;
  right: 20px;
} */

#search-page #left-nav a {
  color: black;
}

#user-details {
  position: relative;
  bottom: 30px;
  left: 20px;
}

#main #left-nav,
#main-page main #tag-page #left-nav,
#q-detail #left-nav,
#main-page header,
#root #main-page main div #search-page #left-nav {
  /* display: flex;
   flex-direction: row;
   flex-wrap: wrap; */
  /* padding-right: 75px; */
  /* padding-top:25px; */
  text-decoration: none;
  min-width: 180px;
  max-width: 250px;
  /* border-right: 1px solid #d6d9dc; */
  /* width:auto; */
  /* margin:  0 auto; */
}
#main #left-nav a,
#root #main-page main div #search-page #left-nav a {
  text-decoration: none;
}
/* left:4.5%; 
   padding-left: 280px;
   list-style: none;
   width:19%;
   display: flex;
   flex-direction: row;
   margin: 0;
   /* padding:0; 
   border:0;
   line-height: 50px;
}*/

#main #q-index h2 {
  font-family: 400;
  font-weight: normal;
  line-height: 1.4;
  word-wrap: initial;
  font-size: 16px;
  position: relative;
  bottom: 0%;
}
#qcreate #qform #q-box #question-fields.quill {
  display: flex;
  flex-direction: column;
}

#qcreate #qform #q-box #question-fields .ql-container {
  min-width: 100px;
  min-height: 200px;
}

#root #main-page #nav .header-group .dropdown {
  position: relative;
  display: inline-block;
}

#root #main-page #nav .header-group .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#root #main-page #nav .header-group .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#root #main-page #nav .header-group .dropdown-content a:hover {
  background-color: #ddd;
}

#root #main-page #nav .header-group .dropdown:hover .dropdown-content {
  display: block;
}

#root #main-page #nav .header-group .dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#q-box #add-tag {
  /* position: relative;
  bottom: 30px;
  left: 270px; */
  border: 1px solid #577ee7;
  background: #577ee7;
  color: white;
  width: 60px;
  font-size: 13px;
  margin-top: 4px;
  cursor: pointer;
}

input.searchbar:focus {
  outline-width: 0;
}

#public {
  margin-left: 10px;
}

#globe {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 16px;
}
#globe #glbimg {
  position: relative;
  top: 4px;
}

#leftnav a,
#search-page #left-nav #leftnav {
  color: #535a60;
  /* z-index:1; */
}

#users {
  position: relative;
  right: 300px;
  top: 25px;
}
#users div {
  border: 1px solid #d6dadc;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

#root #main-page main #tag-page #main #tags div {
  border: 1px solid #d6dadc;
  /* padding: 20px; */
  font-size: 20px;
  text-align: center;
}

#main #content ul h4 {
  position: relative;
  right: 50px;
  width: 93%;
  border-bottom: 1px solid #d6dadc;
}
#main #content #aform {
  position: relative;
  right: 30px;
  margin-bottom: 20px;
}
#tag-page {
  position: relative;
  top: 70px;
}
#tag-page ul {
  list-style: none;
}

#tag-page #border {
  position: relative;
  left: 50px;
}

#root #main-page #search-page ul li {
  position: relative;
  /* left:20px; */
  list-style: none;
}
